body {
  background-color: #e0c9a4;
}

.navigation {
  padding-right: 20px;
  text-align: right;
  font-family: verdana;
  font-variant: bold;
  font-size: 20px;
  color: white;
  background-color: #3f51b5;
  border-top: 20px solid #303f9f;
  box-shadow: 2px 2px 5px black;
}

.navigation [name = email] {
  width: 20%;
}

.navigation [name = password] {
  width: 20%;

}

.navigation .login {
  position: relative;
  top: 50%;
  transform: translateY(70%);
}

.navigation button {
  font-size: 20px;
  background-color: white;
  border: 0px solid;

}

/*remove this once the framework has been created*/
#d3logo {
  width: 50%;
  height: 50%;
}

.form {
}

.form [name = email] {
}

.form [name = name] {
}

.form [name = value] {
}
