body {

}

/* //////// header styling ///////// */

header{
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background-color:rgba(0,0,0,1);
}

header #logo{
  display:inline-block;
  padding:10px;
  color: white;
  font-family: arial;
  font-size:2em;
}

header #login{
  display:inline-block;
  float:right;
  padding:10px;
  font-family:arial;
}

#login button{
  background-color:rgba(0,0,0,1);
  color:white;
  border-color:white;
  border-radius:5px;

}

header #login button:hover{
  background-color:rgba(0,0,0,0.4);
}

/*///////// form styling ///////// */

div .formDiv {
	border:2px solid gray;
	border-radius:7px;
	border-color:white;
	background-color:rgba(0,0,0,0.3);
	width:200px;
	height:200px;
}

.formDiv input{
	font: sans-serif;
	color:white;
	background-color:rgba(0,0,0,0.3);
	border-color:white;
	border-radius:5px;
	padding:.5em;
}

.formDiv button{
	font: sans-serif;
	color:white;
	background-color:rgba(0,0,0,0.3);
	border-radius:5px;
	padding:.5em;
}

/*remove this once the framework has been created*/
#d3logo {
  width: 50%;
  height: 50%;
  max-width: 50%;
  max-height: 600px;
  border: 1px solid black;
}

.formDiv button:hover{
	background-color:rgba(0,0,0,0.8);
	font:sans-serif;
	color:rgba(255,255,255,0.8);
}

::-webkit-input-placeholder {
    color:white;
}

.form [name = email] {
	width:80%;
}

.form [name = name] {
	width:80%;
}

.form [name = value] {
	width:80%;
}
