###OSX###

.DS_Store
.AppleDouble
.LSOverride
Icon

###WEBSTORM###
.idea

###SUBLIME###
*.sublime-project
*.sublime-workspace

# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

###Node###

lib-conv
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-degub.log
node_modules
bower_components

###Deployment###
iisnode.yml
