*{
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('/assets/backgrounds/gray_jean.png');
}

#nav-bar {
  width: 100%;
  height: 100px;
  background-color: RGBA(72, 161, 251, .9);
}

.descriptionbar {
  font-size:2em;
  text-align: center;
  padding-bottom: 20px;
  background-color: RGBA(72, 161, 251, .9): 
}

#logosname,
#logosname a {
  font-style: bold;
  font-size: 48px;
  padding-left: 15%;
  display: inline-block;
  color: RGBA(244, 244, 186, 1);
  text-decoration: none;
  line-height: normal;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

#logosname a:hover,
#logosname a:focus {
  color: RGBA(235, 235, 235, 1);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  padding: 10px;
  padding-bottom: 80px;
}

.logos {
  background-color: white;
  border: 6px solid white;
  width: 300px;
  height: 300px;
  position: relative;
  padding: 0;
  float: left;
  display: inline;
  margin: 10px;
  margin-bottom: 10px;
  transition: 1s;
}
.logos:hover{
}

.logos .slide{
}
.pic {
  float:left;
  width: 300px;
  height: 300px;
  transition: 1s;
  position: absolute;
}
.pic:hover {
  opacity: 0;
  transition: 1s;
}

#feed {
  margin-top: 50px;
  margin-bottom: 50px;
}

.feed {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

.create{
}

/*PAGE BUTTONS*/

.loginbtn {
  float: right;
  margin-top: 10px;
  margin-right: 15%;
  display: inline-block;
  width: 160px;
  height: 54px;
  border:3px solid RGBA(244, 244, 186, 1);
  background-color: transparent;
  outline: none;
  font-size: 18px;
  color: RGBA(244, 244, 186, 1);
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.loginbtn:hover {
  background-color: RGBA(244, 244, 186, 1);
  color: RGBA(72, 161, 251, 1);
  border:none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.signupbtn,
.submitbtn,
.createbtn{
  display: inline-block;
  width: 160px;
  height: 54px;
  background-color: RGBA(72, 161, 251, 1);
  color: RGBA(255, 255, 255, 1);
  border: none;
  outline: none;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  margin-left: 45%;
}

.signupbtn:hover,
.submitbtn:hover,
.createbtn:hover {
  background-color: transparent;
  color: RGBA(72, 161, 251, 1);
  border:3px solid RGBA(72, 161, 251, 1);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

/*FORMS*/

.box {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px; 
  width: 90%;
  height:400px;
}
input {
  appearance: none;
  height:50px;
  font-size:2em;
  background:transparent;
  border:none;
  border-bottom:solid 4px RGBA(70, 76, 76, .2);
  text-align:center;
  transition: border-color 0.6s ease;
}

.inputfirst {
  width:24%;
}

.inputlast {
  width:24%;
}

.inputdefined {
  width:48%;
}

.inputcolor{
  padding-top: 20px;
  width: 70%;
  border-bottom: none;
  height: 34px;
}

.inputcolor:focus {
  border-bottom: none;
}

#inputscolordesc {
  color: #464c4c;
  font-size:2em;
  margin-top: 20px;  
}

::-webkit-input-placeholder {
   color: #464c4c;
   transition: color 0.3s ease;
}

:focus::-webkit-input-placeholder {
   color: transparent;
   transition: color 0.3s ease;
}


input:focus {
  outline:none;
  border:none;
  border-bottom:solid 4px RGBA(72, 161, 251, .9);
  transition: border-color 1s ease;
}
