<div id="feed">
  <div class="feed">
    <div class="logos slide" ng-controller="LogosController" ng-click="trigger()"><vis-logo></vis-logo><img class="pic"src="/assets/people/Rick.jpg"></div>
    <div class="logos slide" ng-controller="LogosController" ng-click="trigger()"><vis-logo></vis-logo><img class="pic"src="/assets/people/Christine.jpg"></div>
    <div class="logos slide" ng-controller="LogosController" ng-click="trigger()"><vis-logo></vis-logo><img class="pic"src="/assets/people/Sarah.jpg"></div>
  </div>
</div>
