<div ng-class="landing">  
	<div class="profile">
		<div class="container">
			<img class="image" src="../images/mccloud.jpeg" alt="person1" width="200" height="200" />
			<span>mccloud</span>
		</div>
		<div class="container">
			<img class="image" src="../images/jonathan.jpg" alt="person2" width="200" height="200" />
			<span>jonathan</span>
		</div>
		<div class="container">
			<img class="image" src="../images/jon.png" alt="person3" width="200" height="200" />
			<span>jon</span>
		</div>
		<div class="container">
			<img class="image" src="../images/chris.png" alt="person4" width="200" height="200" />
			<span>chris</span>
		</div>
	</div>
  
  <div class="tableDiv">
    <table>
      <tr>
        <td align="left"><input type="text" name="firstName" placeholder="First name" ng-model="data.firstName"> </td>
      </tr>
      <tr>
        <td align="left"><input type="text" name="lastName" placeholder="Last name" ng-model="data.lastName"></td>
      </tr>
      <tr>
        <td align="left"><input type="color" name="color" placeholder="Favorite color" ng-model="data.color"></td>
      </tr>
      <tr>
        <td align="left"><input type="text" name="definedBy" placeholder="What defines you?" ng-model="data.definedBy"></td>
      </tr>
      <tr>
        <td align="right"> <button type="button">Create</button></td>
      </tr>
    </table>
  </div>
</div> 














