<div ng-class="landing">
  <div class="landingcarousel">
    <div class="landing">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis Praesent sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris Praesent massa. Vestibulum sed lacinia arcu nec eget augue nulla. Class aptent nibh taciti sociosqu massa.
    </div>
    <div class="landing">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis Praesent sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris Praesent massa. Vestibulum sed lacinia arcu nec eget augue nulla. Class aptent nibh taciti sociosqu massa.
    </div>
    <div class="landing">
      Metus vitae pharetra auctor, sem massa mattis sem, magna at interdum magna augue lacus eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices ante posuere cubilia Curae; Morbi primis lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi blandit sit amet augue congue elementum. Morbi in ipsum dolor. sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec.
    </div>
  </div>
  <div>
    <form>
      <input type="text" name="firstName" placeholder="First name" ng-model="data.firstName"> 
      <input type="text" name="lastName" placeholder="Last name" ng-model="data.lastName">
      <input type="text" name="definedBy" placeholder="What defines you?" ng-model="data.definedBy">
      Choose your color <input type="color" name="color" placeholder="Favorite color">
      </br>
      <button type="button" class="createbtn" ng-click="clickSubmit()">Create</button>
    </form>
  </div>
</div>
