<div ng-class="landing">
  <div>
    <form>
      <input type="text" name="firstName" placeholder="First name" ng-model="data.firstName"> 
      <input type="text" name="lastName" placeholder="Last name" ng-model="data.lastName">
      <input type="text" name="definedBy" placeholder="What defines you?" ng-model="data.definedBy">
      Choose your color <input type="color" name="color" placeholder="Favorite color">
      </br>
      <button type="button" class="createbtn" ng-click="clickSubmit()">Create</button>
    </form>
  </div>
</div>
